body {
    font-family: Arial, sans-serif;
    text-align: center; /* 让内容居中 */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.question {
    margin: 10px 0;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
}

#random-number {
    margin-top: 30px;
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* 按钮样式 */
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}
